<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BilingualSubtitler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <BilingualSubtitler.Properties.Settings>
            <setting name="FirstRussianSubtitlesColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="PrimarySubtitlesColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="YandexTranslatorAPIKey" serializeAs="String">
                <value>trnsl.1.1.20150627T135643Z.b79b9a9564333355.08ab2bf3ca2a0e1d1bacd63175b724f0ff966559

</value>
            </setting>
            <setting name="SecondRussianSubtitlesColor" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="ThirdRussianSubtitlesColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Hotkeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>UP|38</string>
                        <string>DOWN|40</string>
                        <string>LEFT|37</string>
                        <string>RIGHT|39</string>
                        <string>CONTROL|17</string>
                        <string>NUMPAD0|96</string>
                        <string>SUBTRACT|109</string>
                        <string>SUBTRACT|107</string>
                        <string>SUBTRACT|13</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OriginalSubtitlesFileNameEnding" serializeAs="String">
                <value>.eng.ass</value>
            </setting>
            <setting name="BilingualSubtitlesFileNameEnding" serializeAs="String">
                <value>.ruseng.ass</value>
            </setting>
            <setting name="CreateOriginalSubtitlesFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoPlayerChangeToBilingualSubtitlesHotkeyString"
                serializeAs="String">
                <value />
            </setting>
            <setting name="VideoPlayerChangeToOriginalSubtitlesHotkeyString"
                serializeAs="String">
                <value />
            </setting>
            <setting name="VideoPlayerPauseButtonString" serializeAs="String">
                <value />
            </setting>
        </BilingualSubtitler.Properties.Settings>
    </userSettings>
</configuration>
