<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BilingualSubtitler.Properties.SubtitlesAppearanceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BilingualSubtitler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <BilingualSubtitler.Properties.SubtitlesAppearanceSettings>
            <setting name="FirstRussianSubtitlesStyleString" serializeAs="String">
                <value>Times New Roman;0;20;2;2;0;50;0</value>
            </setting>
            <setting name="SecondRussianSubtitlesStyleString" serializeAs="String">
                <value>Times New Roman;206;20;2;2;40;50;0</value>
            </setting>
            <setting name="ThirdRussianSubtitlesStyleString" serializeAs="String">
                <value>Times New Roman;248;20;2;2;40;50;0</value>
            </setting>
            <setting name="ChangeRussianSubtitlesStylesAccordingToOriginal"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecondAndThirdRussianSubtitlesAtTopOfTheScreen"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecondAndThirdRussianSubtitlesAtTopOfTheScreenEnabled"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OriginalSubtitlesStyleString" serializeAs="String">
                <value>Arial;42;20;2;2;0;50;0</value>
            </setting>
        </BilingualSubtitler.Properties.SubtitlesAppearanceSettings>
        <BilingualSubtitler.Properties.Settings>
            <setting name="FirstRussianSubtitlesColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="PrimarySubtitlesColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="YandexTranslatorAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondRussianSubtitlesColor" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="ThirdRussianSubtitlesColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="OriginalSubtitlesFileNameEnding" serializeAs="String">
                <value>.eng.ass</value>
            </setting>
            <setting name="BilingualSubtitlesFileNameEnding" serializeAs="String">
                <value>.ruseng.ass</value>
            </setting>
            <setting name="CreateOriginalSubtitlesFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoPlayerChangeToBilingualSubtitlesHotkeyString"
                serializeAs="String">
                <value>S@83@</value>
            </setting>
            <setting name="VideoPlayerChangeToOriginalSubtitlesHotkeyString"
                serializeAs="String">
                <value>S, Shift@83@SHIFT</value>
            </setting>
            <setting name="VideoPlayerPauseButtonString" serializeAs="String">
                <value>Space@32@</value>
            </setting>
            <setting name="VideoPlayerProcessName" serializeAs="String">
                <value>mpc-hc64</value>
            </setting>
            <setting name="SecondRussianSubtitlesIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThirdRussianSubtitlesIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeRussianSubtitlesStylesAccordingToOriginal"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YandexTranslatorAPIEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NumPad0@96@</string>
                        <string>Decimal@110@</string>
                        <string>Return@13@</string>
                        <string>F3@114@</string>
                        <string>Space@32@</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProcessPriority" serializeAs="String">
                <value>AboveNormal</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LatestSeenVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
        </BilingualSubtitler.Properties.Settings>
    </userSettings>
</configuration>
